<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>任务接收配置区<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
    <!--任务接收地址-->
    <add key="Receive_Task_Url" value="http://127.0.0.1"/>
    <!--任务接收线程-->
    <add key="Receive_Thread" value="1"/>
    <!--任务接收间隔 以毫秒为单位-->
    <add key="Receive_Delay" value="1000"/>

  </appSettings>
</configuration>